<template>
  <v-app>
    <!-- <v-snackbar
      v-model="snackbar"
    >
      {{snackbarText}}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar> -->

    <BaseSnackbar/>
    <BaseModal/>

    <v-navigation-drawer
      app
      v-model="drawer"
    >
      <!-- <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Account</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list> -->

      <v-list v-if="member">
        <v-list-item>
          <v-list-item-avatar>
            <!-- <v-img src="https://pbs.twimg.com/profile_images/1507775814544199682/WFTcvDRL_400x400.jpg"></v-img> -->
            <!-- <v-img :src="user.photo_profile ? urlDasar + user.photo_profile : 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F'"></v-img> -->
            <v-img :src="user.avatar || 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F'"></v-img>

            <!-- <v-avatar
              class="accent white--text"
              left
              v-text="data.item.slice(0, 1).toUpperCase()"
            ></v-avatar> -->
            <!-- <v-avatar
              class="accent white--text"
              v-text="'A'"
            ></v-avatar> -->
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              <!-- @watsonamelia -->
              @{{user.username}}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <div class="pa-2" v-if="!member">
        <v-btn block class="mb-2" @click="signIn">
          Masuk
        </v-btn>
        <v-btn block>
          Buat akun
        </v-btn>
      </div>

      <v-divider></v-divider>

      <!-- <v-list
        nav
        dense
      > -->
      <v-list
        nav
      >
        <v-list-item-group
          v-model="selectedItems"
        >
          <v-list-item
            v-for="(item, i) in items"
            :key="`item-${i}`"
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <!-- <template v-slot:append v-if="member">
        <v-divider></v-divider>

        <v-list>
          <div class="px-2">
            <v-btn block color="grey lighten-4 sekunder--text text--lighten-2" @click="keluar">
              <v-icon left>mdi-logout</v-icon>
              Keluar
            </v-btn>
          </div>
        </v-list>
      </template> -->

      <template v-slot:append v-if="member">
        <!-- <v-divider></v-divider> -->

        <div class="pa-2">
          <v-btn block @click="signOut">
            Keluar
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app>
    <!-- <v-app-bar
      app
      color="white"
      elevation="2"
    > -->
      <!-- <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon> -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>
        <!-- <a
          href="/"
          class="text-decoration-none blue-grey--text text--darken-4"
        >p2k8g2b2</a> -->
        <!-- p2k8g2b2 -->
        <!-- <a
          href="/"
          class="text-decoration-none black--text"
        >p2k8g2b2</a> -->
        <router-link
          to="/"
          class="text-decoration-none"
          style="color: inherit;"
        >
          p2k8g2b2
        </router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn
        href="https://gitlab.com/p2k8g2b2/p2k8g2b2"
        target="_blank"
        text
      >
        <span class="mr-2">GitLab</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <!-- <router-view></router-view> -->

        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <!-- <v-footer
      app
      color="blue-grey lighten-4"
    > -->
    <v-footer app>
    <!-- <v-footer
      app
      padless
      absolute
    > -->
    <!-- <v-footer
      app
      absolute
    > -->
      <!-- <a
        href="https://gitlab.com/p2k8g2b2/p2k8g2b2"
        class="text-decoration-none blue-grey--text text--darken-2"
      >© 2022 p2k8g2b2</a> -->
      <!-- © 2022 p2k8g2b2 -->
      © {{new Date().getFullYear()}} p2k8g2b2

      <!-- <v-col
        class="text-left"
        cols="12"
      >
        © {{new Date().getFullYear()}} p2k8g2b2
      </v-col> -->
    </v-footer>
    <!-- <v-footer app>© 2022 p2k8g2b2</v-footer> -->

    <!-- <BaseSnackbar/>
    <BaseModal/> -->
  </v-app>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'App',
    components: {
      BaseSnackbar: () => import('./components/BaseSnackbar.vue'),
      BaseModal: () => import('./components/BaseModal.vue'),
    },
    data: () => ({
      // drawer: false,
      drawer: true,
      // member: false,
      // member: true,
      selectedItems: 0,
      items: [
        {text: 'Terbaru', icon: 'mdi-cards', route: '/'},
        // {text: 'Buku', icon: 'mdi-book-multiple', route: '/books'},
        {text: 'Buku', icon: 'mdi-book-variant-multiple', route: '/books'},
        {text: 'Ulasan', icon: 'mdi-forum', route: '/reviews'},
      ],
      // snackbar: false,
      // snackbarText: `Hello, I'm a snackbar`,
      baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
      // baseUrl: 'http://localhost:8000/api/',
    }),
    computed: {
      ...mapGetters({
        member: 'auth/member',
        user: 'auth/user',
        token: 'auth/token',
      })
    },
    methods: {
      signIn() {
        // this.member = true

        // this.setSnackbar({
        //   status: true,
        //   color: 'success',
        //   text: '👌'
        // })

        // this.drawer = false

        this.setModalComponent({'component': 'FormSignIn'})
      },
      signOut() {
        const con = {
          method: 'post',
          url: this.baseUrl + 'auth/logout',
          headers: {
            'Authorization': 'Bearer ' + this.token,
          },
        }

        this.axios(con)
            .then(() => {
              this.setToken('')
              this.setUser({})

              // this.member = false

              this.setSnackbar({
                status: true,
                color: 'success',
                text: '👍'
              })
            })
            .catch(() => {
              this.setSnackbar({
                status: true,
                color: 'error',
                text: '👎'
              })
            })
      },
      ...mapActions({
        setSnackbar: 'snackbar/set',
        setModalComponent: 'modal/setComponent',
        setToken: 'auth/setToken',
        setUser: 'auth/setUser',
        checkToken: 'auth/checkToken',
      }),
    },
    mounted() {
      // this.snackbar = true
      if (this.token) {
        this.checkToken(this.token)
      }
    },
  }
</script>

<style>
  .custom-container {
    max-width: 900px !important;
  }

  .custom-subheader {
    height: auto !important;
    line-height: normal !important;
    padding: 0 12px !important;
  }

  .custom-text-button {
    /* line-height: normal !important; */
    line-height: 1.6em !important;
  }
</style>
