<template>
  <KeepAlive>
    <!-- <v-row justify="center"> -->
      <!-- <v-dialog
        v-model="modal"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
        class="d-sm-none"
      >
        <component :is="currentComponent" @closed="setModalStatus"/>
      </v-dialog>

      <v-dialog
        v-model="modal"
        persistent
        max-width="600px"
        class="d-none d-sm-block"
      >
        <component :is="currentComponent" @closed="setModalStatus"/>
      </v-dialog> -->

      <v-dialog
        v-model="modal"
        :persistent="$vuetify.breakpoint.smAndUp"
        :max-width="$vuetify.breakpoint.smAndUp ? '600px' : ''"
        :fullscreen="$vuetify.breakpoint.xsOnly"
        :hide-overlay="$vuetify.breakpoint.xsOnly"
        :transition="$vuetify.breakpoint.xsOnly ? 'dialog-bottom-transition' : ''"
      >
        <component :is="currentComponent" @closed="setModalStatus"/>
      </v-dialog>
    <!-- </v-row> -->
  </KeepAlive>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    components: {
      FormSignIn: () => import('./FormSignIn.vue')
    },
    // data: () => ({
    //   isMobile: true,
    // }),
    computed: {
      ...mapGetters({
        modalStatus: 'modal/status',
        currentComponent: 'modal/component',
      }),
      modal: {
        get() {
          return this.modalStatus
        },
        set(val) {
          this.setModalStatus(val)
        },
      },
    },
    methods: {
      ...mapActions({
        setModalStatus: 'modal/setStatus',
      }),

      // onResize() {
      //   this.isMobile = window.innerWidth < 600
      // },
    },
    // beforeDestroy() {
    //   if (typeof window === 'undefined') return

    //   window.removeEventListener('resize', this.onResize, {passive: true})
    // },
    // mounted() {
    //   this.onResize()

    //   window.addEventListener('resize', this.onResize, {passive: true})
    // },
  }
</script>

<style>
  .v-dialog > .template-root > * {
    width: 100%;
  }

  .v-dialog > .template-root {
    width: 100%;
  }

  .v-dialog--fullscreen > .template-root {
    height: 100%;
  }

  .v-dialog--fullscreen > .template-root,
  .v-dialog--fullscreen > .template-root > .v-card {
    min-height: 100%;
    min-width: 100%;
    margin: 0!important;
    padding: 0!important;
  }
</style>
