<template>
  <v-snackbar
    v-model="snackbar"
  >
    {{text}}
    <template v-slot:action="{attrs}">
      <v-btn
        color="white"
        text
        v-bind="attrs"
        @click="close"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  // import {mapState, mapMutations} from 'vuex'
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'BaseSnackbar',
    computed: {
      // ...mapState({
      //   status: 'snackbar/status',
      //   color: 'snackbar/color',
      //   text: 'snackbar/text',
      // }),
      ...mapGetters({
        status: 'snackbar/status',
        color: 'snackbar/color',
        text: 'snackbar/text',
      }),
      snackbar: {
        get() {
          return this.status
        },
        set(val) {
          this.setSnackbar({
            status: val
          })
        },
      },
    },
    methods: {
      ...mapActions({
        setSnackbar: 'snackbar/set'
      }),
      close() {
        this.setSnackbar({
          status: false,
        })
      },
    },
  }
</script>
