<template>
  <v-col
    cols="6"
    sm="3"
  >
    <v-card :to="`/book/${book.id}`">
      <!-- <v-img
        v-if="book.cover"
        :src="book.cover"
      ></v-img>
      <v-img
        v-if="!book.cover"
        :src="'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
      ></v-img> -->
      <v-img
        :src="book.cover || 'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
      ></v-img>
      <v-card-title>
        <div class="text-truncate">{{book.title}}</div>
      </v-card-title>
      <!-- <v-card-subtitle v-text="book.author"></v-card-subtitle> -->
      <v-card-subtitle>
        <div class="text-truncate">{{book.author}}</div>
      </v-card-subtitle>
    </v-card>
  </v-col>
</template>

<script>
  export default {
    data: () => ({
      // baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
    }),
    props: ['book'],
  }
</script>
