<template>
  <!-- <div class="modal"> -->
  <div class="template-root">
    <!-- <v-card class="d-sm-none">
      <v-toolbar
        dark
        color="primary"
      >
        <v-btn
          icon
          dark
          @click.native="close"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Settings</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
            dark
            text
            @click.native="close"
          >
            Save
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-list
        three-line
        custom-subheader
      >
        <v-subheader>User Controls</v-subheader>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Content filtering</v-list-item-title>
            <v-list-item-subtitle>Set the content filtering level to restrict apps that can be downloaded</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Password</v-list-item-title>
            <v-list-item-subtitle>Require password for purchase or use password to restrict purchase</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list
        three-line
        custom-subheader
      >
        <v-subheader>General</v-subheader>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="notifications"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Notifications</v-list-item-title>
            <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="sound"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sound</v-list-item-title>
            <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-checkbox v-model="widgets"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Auto-add widgets</v-list-item-title>
            <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card> -->

    <!-- <v-card class="d-none d-sm-block"> -->
    <!-- <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <v-text-field
                label="Legal first name*"
                required
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <v-text-field
                label="Legal middle name"
                hint="example of helper text only on focus"
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <v-text-field
                label="Legal last name*"
                hint="example of persistent helper text"
                persistent-hint
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Email*"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Password*"
                type="password"
                required
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="6"
            >
              <v-select
                :items="['0-17', '18-29', '30-54', '54+']"
                label="Age*"
                required
              ></v-select>
            </v-col>
            <v-col
              cols="12"
              sm="6"
            >
              <v-autocomplete
                :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                label="Interests"
                multiple
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click.native="close"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click.native="close"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card> -->

    <!-- <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="email"
                label="Surel"
                required
                append-icon="mdi-email"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                label="Kata sandi"
                required
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                :counter="6"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-btn
                color="success"
                @click="submit"
              >
                Masuk
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click.native="close"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click.native="close"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card> -->

    <v-card>
      <v-toolbar
        dark
        color="primary"
      >
        <v-btn
          icon
          @click.native="close"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Masuk</v-toolbar-title>
      </v-toolbar>

      <v-card-text>
        <v-container>
          <v-form
            ref="form"
          >
            <v-text-field
              v-model="email"
              label="Surel"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              :type="showPassword ? 'text' : 'password'"
              label="Kata sandi"
              required
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            ></v-text-field>

            <v-btn
              color="success"
              @click="submit"
              class="mt-4"
            >
              Masuk
            </v-btn>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    data: () => ({
      email: '',
      password: '',
      showPassword: false,
      baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
      // baseUrl: 'https://demo-api-vue.sanbercloud.com/api/v2/',
      // baseUrl: 'http://localhost:8000/api/',
    }),
    methods: {
      ...mapActions({
        setSnackbar: 'snackbar/set',
        setToken: 'auth/setToken',
      }),
      close() {
        this.$emit('closed', false)
      },
      submit() {
        // alert('OK!')

        const con = {
          method: 'post',
          url: this.baseUrl + 'auth/login',
          data: {
            'email': this.email,
            'password': this.password,
          }
        }

        this.axios(con)
            .then(res => {
              this.setToken(res.data.data.token)

              this.setSnackbar({
                status: true,
                color: 'success',
                text: '🔥',
              })

              this.close()
            })
            .catch(() => {
              this.setSnackbar({
                status: true,
                color: 'error',
                text: '🙅',
              })
            })
      },
    },
  }
</script>

<style>
  /* .v-dialog > .modal > * {
    width: 100%;
  }

  .v-dialog > .modal {
    width: 100%;
  }

  .v-dialog--fullscreen > .modal {
    height: 100%;
  }

  .v-dialog--fullscreen > .modal,
  .v-dialog--fullscreen > .modal > .v-card {
    min-height: 100%;
    min-width: 100%;
    margin: 0!important;
    padding: 0!important;
  } */
</style>
