<template>
  <v-col
    cols="12"
  >
    <!-- <v-card :to="`/book/${review.book_id}`">
      <v-img
        :src="book.cover || 'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
      ></v-img>
      <v-card-title>
        <div class="text-truncate">{{book.title}}</div>
      </v-card-title>
      <v-card-subtitle>
        <div class="text-truncate">{{book.author}}</div>
      </v-card-subtitle>
    </v-card> -->

    <v-card :to="`/book/${review.book_id}`">
      <div class="d-flex flex-no-wrap justify-space-between">
        <div>
          <v-card-title
            class="text-h5"
            v-text="item.title"
          ></v-card-title>

          <v-card-subtitle v-text="item.artist"></v-card-subtitle>

          <v-card-actions>
            <v-btn
              v-if="item.artist === 'Ellie Goulding'"
              class="ml-2 mt-3"
              fab
              icon
              height="40px"
              right
              width="40px"
            >
              <v-icon>mdi-play</v-icon>
            </v-btn>

            <v-btn
              v-else
              class="ml-2 mt-5"
              outlined
              rounded
              small
            >
              START RADIO
            </v-btn>
          </v-card-actions>
        </div>

        <!-- <v-avatar
          class="ma-3"
          size="125"
          tile
        >
          <v-img :src="item.src"></v-img>
        </v-avatar> -->
        <v-img
          :src="book.cover || 'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
        ></v-img>
      </div>
    </v-card>
  </v-col>
</template>

<script>
  export default {
    data: () => ({
      // baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
    }),
    props: ['book'],
  }
</script>
