<template>
  <v-container class="custom-container">
    <v-row
      dense
      class="mt-4 mt-sm-6 flex-sm-row-reverse"
      v-if="Object.keys(book).length"
    >
      <v-col
        cols="6"
        sm="8"
        class="pr-2 pa-sm-6 pt-sm-0 pl-sm-10"
      >
        <!-- <v-card>
          <v-card-title v-text="book.title"></v-card-title>
          <v-card-subtitle v-text="book.author"></v-card-subtitle>
        </v-card> -->

        <div class="text-h4 font-weight-bold text-break mb-2" v-text="book.title"></div>
        <!-- <div class="text-h6 mb-4" v-text="book.author"></div> -->
        <div class="text-h6 mb-sm-4"><span class="font-weight-light">oleh</span> {{book.author}}</div>
        <div class="text-body-1 d-none d-sm-block" v-text="book.description"></div>
      </v-col>

      <v-col
        cols="6"
        sm="4"
      >
        <v-card>
          <v-img
            :src="book.cover || 'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
          ></v-img>
          <!-- <v-img
            v-if="book.cover"
            :src="book.cover"
          ></v-img>
          <v-img
            v-if="!book.cover"
            :src="'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
          ></v-img> -->
          <!-- <v-card-title>
            <div class="text-truncate">{{book.title}}</div>
          </v-card-title>
          <v-card-subtitle v-text="book.author"></v-card-subtitle> -->
        </v-card>
      </v-col>
    </v-row>

    <v-row class="d-sm-none">
      <v-col cols="12">
        <div class="text-body-1" v-text="book.description"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
      book: {},
    }),
    methods: {
      fire() {
        const {id} = this.$route.params

        const con = {
          method: 'get',
          // url: this.baseUrl + 'book/' + id,
          url: `${this.baseUrl}books/${id}`,
        }

        this.axios(con)
            .then(res => {
              const {book} = res.data

              this.book = book
            })
      },
    },
    created() {
      this.fire()
    },
  }
</script>

<style>
  /* .v-application .serif {
    font-family: serif !important;
  } */
</style>
