<template>
  <v-container class="custom-container">
    <!-- <v-subheader
      class="text-h5 font-weight-bold pl-0 mb-3"
    >
      Semua buku~
    </v-subheader> -->

    <!-- <v-row
      align="center"
      justify="space-between"
      class="mb-2"
    >
      <v-subheader
        class="text-h5 font-weight-bold"
      >
        Semua buku~
      </v-subheader>
    </v-row> -->

    <v-row
      align="end"
      justify="space-between"
      class="mt-2 mb-2"
      v-if="books.length"
    >
      <v-subheader
        class="text-h5 font-weight-bold custom-subheader"
      >
        Semua buku~
      </v-subheader>
    </v-row>

    <!-- <v-row
      dense
      class="align-end mb-6"
    > -->
    <v-row
      align="end"
      class="mb-6"
    >
      <!-- <v-col
        cols="6"
        sm="3"
        v-for="(book, i) in books"
        :key="`book-${i}`"
      >
        <v-card :to="`/book/${book.id}`">
          <v-img
            v-if="book.cover"
            :src="book.cover"
          ></v-img>
          <v-img
            v-if="!book.cover"
            :src="'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
          ></v-img>
          <v-card-title>
            <div class="text-truncate">{{book.title}}</div>
          </v-card-title>
          <v-card-subtitle v-text="book.author"></v-card-subtitle>
        </v-card>
      </v-col> -->

      <BookShelf
        v-for="(book, i) in books"
        :key="`book-${i}`"
        :book="book"
      />
    </v-row>

    <v-pagination
      v-model="currentPage"
      :length="lastPage"
      @input="fire"
      circle
      class="mb-3"
      color="grey"
      v-if="books.length"
    ></v-pagination>
  </v-container>
</template>

<script>
  import BookShelf from '../components/BookShelf.vue'

  export default {
    data: () => ({
      baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
      books: [],
      currentPage: 0,
      lastPage: 0,
      perPage: 0,
    }),
    components: {
      BookShelf,
    },
    methods: {
      fire() {
        const con = {
          method: 'get',
          // url: this.baseUrl + 'books?page=' + this.currentPage,
          // url: `${this.baseUrl}books?page=${this.currentPage}`,
          // url: `${this.baseUrl}books`,
          url: this.baseUrl + 'books',
          params: {'page': this.currentPage},
        }

        this.axios(con)
            .then(res => {
              const {books} = res.data

              this.books = books.data
              this.currentPage = books.current_page
              this.lastPage = books.last_page
              this.perPage = books.per_page
            })
      },
    },
    created() {
      this.fire()
    }
  }
</script>

<style>
  /* .custom-subheader {
    height: auto !important;
    line-height: normal !important;
  } */

  /* Ada .text-truncate */
  /* .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
</style>
