<template>
  <!-- <div class="about">
    <h1>Ini laman beranda</h1>
  </div> -->

  <v-container class="custom-container">
    <!-- <div class="text-right mb-2">
      <v-btn text to="/books">Lihat semua</v-btn>
    </div> -->

    <v-row
      align="end"
      justify="space-between"
      class="mt-2 mb-2"
      v-if="books.length"
    >
      <v-subheader
        class="text-h5 font-weight-bold custom-subheader"
      >
        Buku terbaru~
      </v-subheader>
      <!-- <div class="text-right">
        <v-btn
          text
          small
          to="/books"
          class="btn-text"
        >
          Lihat semua
        </v-btn>
      </div> -->
      <router-link
        to="/books"
        class="text-decoration-none text-button custom-text-button px-3"
        style="color: inherit;"
      >
        Lihat semua
      </router-link>
    </v-row>

    <!-- <v-row
      dense
      align="end"
      class="mb-10"
    > -->
    <v-row
      align="end"
      class="mb-10"
    >
      <BookShelf
        v-for="(book, i) in books"
        :key="`book-${i}`"
        :book="book"
      />
    </v-row>

    <v-row
      align="end"
      justify="space-between"
      class="mt-2 mb-2"
      v-if="reviews.length"
    >
      <v-subheader
        class="text-h5 font-weight-bold custom-subheader"
      >
        Ulasan terbaru~
      </v-subheader>
      <!-- <div class="text-right"> -->
        <!-- <v-btn
          text
          small
          to="/books"
          class="btn-text"
        >
          Lihat semua
        </v-btn> -->
        <router-link
          to="/reviews"
          class="text-decoration-none text-button custom-text-button px-3"
          style="color: inherit;"
        >
          Lihat semua
        </router-link>
      <!-- </div> -->
    </v-row>

    <!-- <v-row
      dense
    > -->
    <v-row>
      <v-col
        cols="12"
        v-for="(review, i) in reviews"
        :key="`review-${i}`"
      >
        <v-card :to="`/book/${review.book.id}`">
          <v-row
            class="flex-sm-row-reverse ma-0"
          >
            <v-col
              cols="12"
              sm="9"
              class="pa-4 pa-sm-6 pl-sm-4"
            >
              <v-list class="pa-0 mb-4">
                <v-list-item class="pa-0">
                  <v-list-item-avatar color="grey darken-3">
                    <v-img
                      :src="review.user.avatar || 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F'"
                    ></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title
                      class="font-weight-medium"
                    >
                      @{{review.user.username}}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>

              <div
                :class="review.content.length < 212 ? 'text-h5 font-weight-bold' : 'text-body-1'"
                v-html="review.content"
              ></div>
            </v-col>
            <v-col
              cols="6"
              sm="3"
              class="pa-0 pr-4 d-none d-sm-block"
            >
              <v-img
                class="rounded-tl-sm"
                :src="review.book.cover || 'https://placehold.jp/100/808080/a0a0a0/318x424.jpg?text=p2'"
              ></v-img>

              <v-card-title>
                <div class="text-truncate" v-text="review.book.title"></div>
              </v-card-title>
              <v-card-subtitle class="text--secondary">
                <div class="text-truncate" v-text="review.book.author"></div>
              </v-card-subtitle>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  import BookShelf from '../components/BookShelf.vue'

  export default {
    data: () => ({
      // baseUrl: 'http://localhost:8000/api/',
      baseUrl: 'https://p2k8g2b2.herokuapp.com/api/',
      books: [],
      reviews: [],
    }),
    components: {
      BookShelf,
    },
    methods: {
      fireBooks() {
        const con = {
          method: 'get',
          url: this.baseUrl + 'books/latest',
        }

        this.axios(con)
            .then(res => {
              const {books} = res.data

              this.books = books
            })
      },
      // fireReviews() {
      //   const con = {
      //     method: 'get',
      //     url: this.baseUrl + 'reviews/latest',
      //   }

      //   this.axios(con)
      //       .then(res => {
      //         const {reviews} = res.data

      //         // console.log(reviews)

      //         this.reviews = reviews
      //       })
      // },
      // fireReviews: async function() {
      //   try {
      //     const {reviews} = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/reviews/latest')).data

      //     for (let i = 0; i < reviews.length; i++) {
      //       reviews[i].book = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/books/' + reviews[i].book_id)).data.book
      //       reviews[i].user = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/users/' + reviews[i].user_id)).data

      //       // console.log(reviews[i])
      //     }

      //     // this.reviews = this.reviews.concat(reviews)
      //     this.reviews = reviews

      //     // console.log(reviews.length)
      //     // console.log(reviews[3].book_id)
      //     // console.log(this.reviews)
      //   } finally {
      //     // this.loaded = true
      //   }
      // },
      async fireReviews() {
        const {reviews} = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/reviews/latest')).data

        // for (let i = 0; i < reviews.length; i++) {
        //   reviews[i].book = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/books/' + reviews[i].book_id)).data.book
        //   reviews[i].user = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/users/' + reviews[i].user_id)).data
        // }

        for (const review of reviews) {
          review.book = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/books/' + review.book_id)).data.book
          review.user = (await this.axios.get('https://p2k8g2b2.herokuapp.com/api/users/' + review.user_id)).data
        }

        this.reviews = reviews
      },
    },
    created() {
      // const api = 'http://localhost:8000/api/reviews'

      // this.axios.get(api).then(res => console.log(res.data))

      // const api = 'http://localhost:8000/api/books/8a732e23-75be-4ebb-9522-ccb5adc696dc'

      // this.axios.get(api).then(res => console.log(res.data.book.cover.url))

      // const api = this.baseUrl + 'books?page=2'

      // this.axios.get(api).then(res => console.log(res.data.books))

      // const con = {
      //   method: 'get',
      //   url: this.baseUrl + 'books/latest',
      // }

      // this.axios(con)
      //     .then(res => {
      //       const {books} = res.data

      //       this.books = books
      //     })

      // this.fire()
      this.fireBooks()
      this.fireReviews()
    },
  }
</script>

<style>
  /* .custom-container {
    max-width: 900px !important;
  }

  .custom-subheader {
    height: auto !important;
    line-height: normal !important;
    padding: 0 12px !important;
  } */

  /* .btn-text {
    height: auto !important;
  }

  .btn-text::before {
    content: none !important;
  } */

  /* .btn-text:hover::before {
    opacity: 0 !important;
  } */

  /* .btn-text:hover {
    opacity: 0.92;
  } */

  /* .btn-text:focus::before {
    opacity: 0 !important;
  } */

  /* .btn-text:focus {
    opacity: 0.76;
  } */

  /* Ada .text-truncate */
  /* .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  /* .custom-text-button {
    line-height: normal !important;
    line-height: 1.6em !important;
  } */
</style>
